body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #004d99;
    font-size: 2em;
    margin-bottom: 1em;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #004d99;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003366;
}

#result {
    margin-top: 1.5em;
}

.msg {
    color: #ff3333;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.glow {
    animation: glow 1.5s ease-in-out infinite alternate;
}
.info{
    color: grey;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;


}
@keyframes glow {
    from {
        text-shadow: 0 0 10px #ff5733, 0 0 20px #ff5733, 0 0 30px #ff5733;
    }
    to {
        text-shadow: 0 0 20px #ff5733, 0 0 30px #ff5733, 0 0 40px #ff5733;
    }
}
